body{
  background-image: url(./books.jpg);

}


.main_wrapper {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-aroundÏ;
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  background-color: purple;
}

.list {
  position: absolute;
}

.add_book {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: space-between;
  width: 20em;
  height: 450px;
  left: 25%;

  background-color: rgb(97, 70, 55);
}

.input_text {
  margin: 10px;
  font-weight: 50%;
  font-size: 150%;
}


.search {
  width: 20em;
}

.book {
  width: 20em;
  height: 450px;
  background-color: black;
}