body {
  background-color: #E0D6C9;
  width: 100%;
}

.listHeader {
  background-color: brown;
}

.button {
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: black;
  color: #FFFFFF;
}

.listHeader .button {
  position: relative;
  left: 50%;
}

.list {
  position: relative;
  left: 47%;
  width: 80px;
}

.search {
  width: 30vw;
  height: 70vh;
  border: 10px solid black;
}


.books {
  border: 10px solid black;
}

.covers {
  width: 30vw;
  height: 70vh;
}

.mainContent {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-around;
}